<h1>Add a New Flat</h1>

<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card shadow">
        <div class="card-body">
          <%= form_with model: @flat, local: true do |form| %>
            <div class="mb-3">
              <%= form.label :name, class: 'form-label' %>
              <%= form.text_field :name, class: 'form-control' %>
            </div>

            <div class="mb-3">
              <%= form.label :address, class: 'form-label' %>
              <%= form.text_field :address, class: 'form-control' %>
            </div>

            <div class="mb-3">
              <%= form.label :description, class: 'form-label' %>
              <%= form.text_area :description, class: 'form-control' %>
            </div>

            <div class="mb-3">
              <%= form.label :price_per_night, class: 'form-label' %>
              <%= form.number_field :price_per_night, class: 'form-control' %>
            </div>

            <div class="mb-3">
              <%= form.label :number_of_guests, class: 'form-label' %>
              <%= form.number_field :number_of_guests, class: 'form-control' %>
            </div>

            <div class="d-flex justify-content-between">
              <%= form.submit 'Add Flat', class: 'btn btn-primary' %>
              <%= link_to 'Cancel', flats_path, class: 'btn btn-secondary' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
